@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <div class="text-center">
        <h3>
            Noi incercand sa ne dam seama ce sa facem la proiect
        </h3>
        <div class="text-center">
            <img src="https://cdn.discordapp.com/attachments/648420472991776768/799048009258106880/unknown.png" alt="Alternate Text"
                 height="400" , width="500" />
            <img src="https://cdn.discordapp.com/attachments/648420472991776768/799049513561227354/unknown.png" alt="Alternate Text"
                 height="400" , width="500" />
        </div>
    </div>
</div>
